In [6]:
import pandas as pd

fiis = pd.read_csv('./data/statusinvest-busca-avancada.csv', sep=';', decimal=',', thousands='.', encoding='utf-8')

fiis.head()

fiis

,TICKER,PRECO,ULTIMO DIVIDENDO,DY,VALOR PATRIMONIAL COTA,P/VP,LIQUIDEZ MEDIA DIARIA,PERCENTUAL EM CAIXA,CAGR DIVIDENDOS 3 ANOS,CAGR VALOR CORA 3 ANOS,PATRIMONIO,N COTISTAS,GESTAO,N COTAS
0,ABCP11,80.37,0.650000,9.58,110.80,0.72,61925.77,1.48,4.16,21.98,5.217479e+08,14076.0,NaN,4709082.0
1,AFHI11,96.58,1.010000,12.53,94.56,1.02,787107.59,8.33,-1.55,14.08,4.528698e+08,37615.0,NaN,4789243.0
2,AIEC11,54.10,0.340000,7.35,76.57,0.71,498063.14,6.95,-24.26,7.47,3.694655e+08,13550.0,NaN,4824987.0
3,AJFI11,8.20,0.050000,8.19,11.11,0.74,390646.73,0.70,NaN,NaN,3.514557e+08,11371.0,NaN,31625978.0
4,ALMI11,645.00,4.530000,7.11,2062.46,0.31,12068.52,4.57,NaN,-8.25,2.292984e+08,1886.0,NaN,111177.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,YUFI11,15.00,0.171599,4.61,45.55,0.33,15.00,3.87,NaN,NaN,2.244266e+07,57.0,NaN,492650.0
594,ZAGH11,9.30,0.059000,7.88,9.11,1.10,1661.91,0.26,NaN,NaN,8.096777e+07,477.0,NaN,8891662.0
595,ZAVC11,8.85,0.120000,17.51,10.13,0.87,29533.77,22.40,NaN,NaN,3.629467e+07,586.0,NaN,3582421.0
596,ZAVI11,10.07,0.110000,12.98,13.57,0.76,44496.27,3.51,-1.27,5.00,1.591846e+08,2410.0,NaN,11733220.0
597,ZIFI11,900.00,3.304958,0.00,1757.66,0.51,1226.33,0.00,NaN,-3.45,8.346241e+07,88.0,NaN,47485.0