In [1]:
import pandas as pd

fiis = pd.read_csv('./data/statusinvest-busca-avancada.csv', sep=';', decimal=',', thousands='.', encoding='utf-8')

fiis.head(10)

,TICKER,PRECO,ULTIMO DIVIDENDO,DY,VALOR PATRIMONIAL COTA,P/VP,LIQUIDEZ MEDIA DIARIA,PERCENTUAL EM CAIXA,CAGR DIVIDENDOS 3 ANOS,CAGR VALOR CORA 3 ANOS,PATRIMONIO,N COTISTAS,GESTAO,N COTAS
0,ABCP11,80.37,0.650000,9.58,110.80,0.72,61925.77,1.48,4.16,21.98,5.217479e+08,14076.0,NaN,4709082.0
1,AFHI11,96.58,1.010000,12.53,94.56,1.02,787107.59,8.33,-1.55,14.08,4.528698e+08,37615.0,NaN,4789243.0
2,AIEC11,54.10,0.340000,7.35,76.57,0.71,498063.14,6.95,-24.26,7.47,3.694655e+08,13550.0,NaN,4824987.0
3,AJFI11,8.20,0.050000,8.19,11.11,0.74,390646.73,0.70,NaN,NaN,3.514557e+08,11371.0,NaN,31625978.0
4,ALMI11,645.00,4.530000,7.11,2062.46,0.31,12068.52,4.57,NaN,-8.25,2.292984e+08,1886.0,NaN,111177.0
5,ALZC11,7.97,0.107000,15.76,9.40,0.84,363076.77,1.59,NaN,NaN,1.859218e+08,9946.0,NaN,19772485.0
6,ALZM11,6.32,0.080000,0.00,7.46,0.85,0.00,3.80,-6.90,-9.05,1.132035e+08,12195.0,Ativa,15180540.0
7,ALZR11,10.78,0.085100,9.31,10.64,1.01,2392322.36,3.08,0.66,8.56,1.300995e+09,178582.0,NaN,122266250.0
8,ANCR11B,3221.00,1.440191,0.04,114.28,28.19,NaN,2.05,NaN,NaN,3.055246e+09,235.0,NaN,26735046.0
9,APTO11,9.00,0.080000,12.81,9.78,0.86,29392.59,10.01,-3.41,11.74,4.511601e+07,7938.0,NaN,4612227.0

In [2]:
fiis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TICKER                   598 non-null    object
 1   PRECO                    598 non-null    float64
 2   ULTIMO DIVIDENDO         500 non-null    float64
 3   DY                       598 non-null    float64
 4   VALOR PATRIMONIAL COTA   593 non-null    float64
 5   P/VP                     488 non-null    float64
 6   LIQUIDEZ MEDIA DIARIA    443 non-null    float64
 7   PERCENTUAL EM CAIXA      576 non-null    float64
 8   CAGR DIVIDENDOS 3 ANOS   298 non-null    float64
 9    CAGR VALOR CORA 3 ANOS  289 non-null    float64
 10  PATRIMONIO               593 non-null    float64
 11  N COTISTAS               593 non-null    float64
 12  GESTAO                   26 non-null     object
 13   N COTAS                 598 non-null    float64
dtypes: float64(12), object(2)
memory usage: 65.5+ KB

# Filtro 01 - Geral 
Buscar papéis com um DY acima de 10% ao ano, simultanemante o P/VP entre 0.7 e 1.0 corrobora para um fundo com um preço justo de compra.

In [3]:
rendimentos_consideraveis = fiis[(fiis['P/VP'] > 0.82) & (fiis['P/VP'] < 1.0) & (fiis['DY'] > 10)]
rendimentos_consideraveis.sort_values(by='DY', ascending=False)
# Resetando o index 
rendimentos_consideraveis = rendimentos_consideraveis.reset_index(drop=True)
rendimentos_consideraveis.head(10)

,TICKER,PRECO,ULTIMO DIVIDENDO,DY,VALOR PATRIMONIAL COTA,P/VP,LIQUIDEZ MEDIA DIARIA,PERCENTUAL EM CAIXA,CAGR DIVIDENDOS 3 ANOS,CAGR VALOR CORA 3 ANOS,PATRIMONIO,N COTISTAS,GESTAO,N COTAS
0,ALZC11,7.97,0.107,15.76,9.40,0.84,363076.77,1.59,NaN,NaN,1.859218e+08,9946.0,NaN,19772485.0
1,APTO11,9.00,0.080,12.81,9.78,0.86,29392.59,10.01,-3.41,11.74,4.511601e+07,7938.0,NaN,4612227.0
2,ARXD11,7.82,0.090,14.13,9.11,0.87,70172.05,11.69,NaN,NaN,8.061418e+07,1888.0,NaN,8846662.0
3,AZPL11,7.70,0.075,12.68,8.48,0.91,254013.09,3.71,NaN,NaN,3.553772e+08,5553.0,NaN,41922689.0
4,BBFO11,67.78,0.870,12.95,77.83,0.87,407118.05,4.12,3.22,14.03,3.116138e+08,7187.0,NaN,4003900.0
5,BBRC11,104.47,1.050,13.23,105.11,0.98,130422.82,10.63,1.43,16.04,1.671252e+08,8766.0,NaN,1590000.0
6,BCIA11,95.75,0.860,10.62,104.90,0.91,629101.41,0.06,1.07,16.14,3.901153e+08,20383.0,NaN,3719038.0
7,BNFS11,69.54,0.700,15.68,77.91,0.90,86867.14,7.53,-13.84,-4.65,5.453831e+07,5635.0,NaN,700000.0
8,BTCI11,9.25,0.093,12.54,10.05,0.92,2584410.64,1.13,-1.29,15.86,9.999182e+08,198581.0,NaN,99521172.0
9,BTHF11,9.30,0.101,12.16,10.25,0.90,5368662.23,10.55,NaN,NaN,2.109142e+09,312539.0,NaN,205846940.0

# Filtro 02 - N Cotistas X Liquidex media diaria

Visando uma liquidez/movimentação boa, vamos filtrar pelos papeis que possuem R$1m de movimentação media diaria

In [4]:
liquidez_consideravel = rendimentos_consideraveis[rendimentos_consideraveis['LIQUIDEZ MEDIA DIARIA'] > 10000000]
liquidez_consideravel.sort_values(by='LIQUIDEZ MEDIA DIARIA', ascending=False)
liquidez_consideravel.head(10)

,TICKER,PRECO,ULTIMO DIVIDENDO,DY,VALOR PATRIMONIAL COTA,P/VP,LIQUIDEZ MEDIA DIARIA,PERCENTUAL EM CAIXA,CAGR DIVIDENDOS 3 ANOS,CAGR VALOR CORA 3 ANOS,PATRIMONIO,N COTISTAS,GESTAO,N COTAS
14,CPSH11,10.92,0.110000,11.74,11.40,0.96,13807291.36,1.09,NaN,NaN,9.084755e+08,27512.0,NaN,79699818.0
27,GARE11,8.59,0.083000,11.61,9.32,0.92,16493654.32,1.34,0.00,11.74,2.696609e+09,446255.0,NaN,289186438.0
87,TRXF11,93.15,0.930000,12.71,103.01,0.90,24027891.27,10.05,1.18,7.36,3.347054e+09,217198.0,NaN,32493284.0
94,VTLT11,88.98,1.262349,15.55,90.55,0.98,12462404.00,1.31,6.44,12.25,1.915173e+08,5533.0,NaN,2115000.0

##  ativo escolhido
Gare 11, mostra-se o ativo mais viável para a compra nesse mês